/*
  Table of Contents
    1. General
    2. Main Header
    3. Intro Section
    4. Gallery Section
*/

/***********************************
1. GENERAL
***********************************/

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  font-size: 1em;
}

html {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
}

body,
button,
input:placeholder-shown,
textarea {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
}

h1,
h3 {
  font-weight: normal;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 4%;
}

.full-width-container {
  padding: 0 4%;
}

main {
  font-size: 1rem;
}

button {
  display: block;
  margin: 1.8em auto 1em;
  padding: 0.8em 0;
  width: 100%;
  font-size: 1rem;
}

button,
.gallery-section img {
  cursor: pointer;
}

.intro-section,
.gallery-section {
  padding: 1.5em 0;
}



/***********************************
2. MAIN HEADER
***********************************/

.main-header {
  background: radial-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.5)),
              url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 18.35em;
  text-align: center;
  font-size: 1.4rem;
}

[src*="avatar"] {
  margin-top: 3.25em;
  border-radius: 100%;
  height: 100px;
  width: 100px;
}



/***********************************
3. INTRO SECTION
***********************************/

.intro-section h1 {
  font-size: 1.35em;
}

.intro-section p {
  line-height: 1.7;
  margin: 1.4em 0;
}



/***********************************
4. GALLERY SECTION
***********************************/

.gallery-section {
  font-size: 1.2rem;
}

.gallery-section figure[role="group"] > figcaption {
  margin-bottom: -0.9em;
}

.gallery-section figure {
  margin: 2em 0;
}

.gallery-section figure img {
  min-width: 100%;
}

.gallery-section figure p {
  margin: 0.2em 0 1.2em;
  font-size: 0.7em;
}





/***********************************
COLORS
***********************************/

/* General Colors/Borders */
body,
a,
a:visited {
  color: #a2a2a2;
}

.underlining {
  border-bottom: 1px dotted;
  transition: color 0.2s ease-in-out, border 0.2s ease-in-out;
}

.underlining:hover {
  border-bottom-color: transparent;
}

.teal:hover,
.underlining:hover {
  color: #49bf9d;
}

.dark-gray {
  color: #787878;
}

.border-bottom-divider {
  border-bottom: 2px solid #efefef;
}

button {
  background-color: #fff;
  border: 3px solid #efefef;
  transition: border 0.2s ease-in-out, color 0.2s ease-in-out;
}

button:hover {
  border-color: #49bf9d;
}

button,
.gallery-section img {
  border-radius: 0.35em;
}

/* Main Header Colors/Borders */
span {
  color: #fff;
}
