/*
  Table of Contents
    1. General
*/

/***********************************
GENERAL
***********************************/

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 4%;
}

.full-width-container {
  margin: 0 4%;
}

img {
  max-width: 100%;
}
