/*
  Table of Contents
    1. General
    2. Main Header
    3. Intro Section
    4. Gallery Section
    5. Contact Section
    6. Main Footer
    7. Colors & Borders
    8. Media Queries
*/

/***********************************
1. GENERAL
***********************************/

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  font-size: 1em;
}

html {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
}

body,
button,
input:placeholder-shown,
textarea {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
}

h1,
h3 {
  font-weight: normal;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 4%;
}

.full-width-container {
  padding: 0 4%;
}

main {
  font-size: 1rem;
}

button {
  display: block;
  margin: 1.8em auto 1em;
  padding: 0.8em 0;
  width: 100%;
  font-size: 1rem;
}

button,
.gallery-section img {
  cursor: pointer;
}

.intro-section,
.gallery-section,
.contact-section,
.contact-details,
.main-footer {
  padding: 1.5em 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}



/***********************************
2. MAIN HEADER
***********************************/

.main-header {
  background: radial-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.5)),
              url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 18.35em;
  text-align: center;
  font-size: 1.4rem;
}

.main-header [src*="avatar"] {
  margin-top: 3.25em;
  border-radius: 100%;
  height: 100px;
  width: 100px;
}



/***********************************
3. INTRO SECTION
***********************************/

.intro-section h1 {
  font-size: 1.35em;
}

.intro-section p {
  line-height: 1.7;
  margin: 1.4em 0;
}



/***********************************
4. GALLERY SECTION
***********************************/

.gallery-section {
  font-size: 1.2rem;
}

.gallery-section .group-figure > figcaption {
  margin-bottom: -0.9em;
}

.gallery-section figure {
  margin: 2em 0;
}

.gallery-section figure img {
  min-width: 100%;
}

.gallery-section figure p {
  margin: 0.2em 0 1.2em;
  font-size: 0.7em;
}



/***********************************
5. CONTACT SECTION
***********************************/

.contact-header h3 {
  margin-top: 0;
}

.contact-header p {
  line-height: 1.75;
}

input, textarea {
  display: block;
  margin-top: 0.65em;
  padding: 0.75em;
  width: 100%;
}

textarea {
  min-height: 8.5em;
}

.contact-details a {
  display: inline-block;
  min-height: 14px;
  margin-bottom: 1em;
  padding-left: 1.8em;
  background-repeat: no-repeat;
  background-position: 0 0.35em;
  background-size: 14px 14px;
}

.location {
  background-image: url(../img/house.svg);
}

.phone {
  background-image: url(../img/phone.svg);
}

.email {
  background-image: url(../img/email.svg);
}



/***********************************
6. MAIN FOOTER
***********************************/

.main-footer {
  font-size: 0.8rem;
  min-height: 17em;
  text-align: center;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.main-footer .social-icons li,
.main-footer .social-icons a {
  display: inline-block;
}

.main-footer .social-icons a {
  text-indent: -100000px;
  min-height: 26px;
  margin: 1em 0.5em 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px 26px;
  transition: background-image 0.2s ease-in-out;
}

.social-icons .twitter {
  background-image: url(../img/twitter.svg);
}

.social-icons .github {
  background-image: url(../img/github.svg);
}

.social-icons .linkedin {
  background-image: url(../img/linkedin.svg);
}

.social-icons .twitter:hover {
  background-image: url(../img/twitter-hover.svg);
}

.social-icons .github:hover {
  background-image: url(../img/github-hover.svg);
}

.social-icons .linkedin:hover {
  background-image: url(../img/linkedin-hover.svg);
}

.main-footer p {
  margin-top: 9.5em;
  margin-bottom: 0;
}

/***********************************
COLORS
***********************************/

/* General Colors/Borders */
body,
a,
a:visited,
input,
textarea {
  color: #a2a2a2;
}

.underlining {
  border-bottom: 1px dotted;
  transition: color 0.2s ease-in-out, border 0.2s ease-in-out;
}

.underlining:hover {
  border-bottom-color: transparent;
}

.teal:hover,
.underlining:hover {
  color: #49bf9d;
}

.dark-gray {
  color: #787878;
}

.border-bottom-divider {
  border-bottom: 2px solid #efefef;
}

button {
  background-color: #fff;
  border: 3px solid #efefef;
  transition: border 0.2s ease-in-out, color 0.2s ease-in-out;
}

button:hover,
input:focus,
textarea:focus {
  border-color: #49bf9d;
}

button,
.gallery-section img,
input,
textarea {
  border-radius: 0.35em;
}

/* Main Header Colors/Borders */
span {
  color: #fff;
}

/* Contact Section Colors/Borders */
input, textarea {
  background-color: #f7f7f7;
  border: 2px solid transparent;
  outline: none;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #a2a2a2;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color: #a2a2a2;
 opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
 color: #a2a2a2;
 opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #a2a2a2;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #a2a2a2;
}



/***********************************
8. MEDIA QUERIES
***********************************/

@media (min-width: 30em) {

  /* GENERAL */
  button {
    width: 10em;
    margin-left: 0;
  }

  /* MAIN HEADER */
  .main-header {
    height: 15.15em;
  }

  .main-header p {
    margin-left: 3em;
    margin-right: 3em;
  }

  .main-header [src*="avatar"] {
    margin-top: 1.6em;
  }

  /* GALLERY SECTION */
  .group-figure figure {
    float: left;
    max-width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

  .group-figure figure:nth-child(4) {
    clear: left;
  }

  .gallery-section button {
    clear: both;
  }

  /* CONTACT SECTION */
  input {
    display: inline-block;
    max-width: 49%;
  }

  input[type="email"] {
    float: right;
  }

  /* MAIN FOOTER SECTION */
  .main-footer {
    min-height: 5.15em;
  }

  .main-footer p {
    margin-top: 2.15em;
    margin-bottom: 3em;
  }

}

@media (min-width: 46em) {

  body {
    background-color: lightgray; /* DELETE ME AFTER */
  }

  /* GENERAL */
  .container {
    margin: 0 8%;
  }

  button {
    margin-bottom: 2.4em;
  }

  /* MAIN HEADER */
  .main-header {
    font-size: 1.75rem;
    line-height: 1.8;
    height: 17.675em;
  }

  .main-header [src*="avatar"] {
    margin-top: 3.425em;
  }

  .main-header p {
    margin-top: 0.4em;
  }

  /* INTRO SECTION */
  .intro-section {
    padding-top: 4.65em;
  }

  .intro-section h1 {
    font-size: 2rem;
  }

  .intro-section p {
    margin: 2em 0;
    line-height: 1.75;
  }

}
